<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_name">

	<joint name="lidar_joint" type="fixed">
        <origin xyz="0.0 0.0 0.2" rpy="0.0 0.0 4.71239"/>
        <parent link="chassis"/>
        <child link="lidar_link"/>
        <axis xyz="0.0 0.0 0.0"/>
    </joint>   

    <link name="lidar_link">
        <visual>
            <geometry>
                <cylinder radius="0.15" length="0.3"/>
            </geometry>
            <material name="blue"/>
        </visual>

        <collision>
              <geometry>
                <cylinder radius="0.15" length="0.25"/>
            </geometry>
        </collision>

        <xacro:inertial_cylinder mass="0.1" length="0.3" radius="0.15">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <gazebo reference="lidar_link">
        <material>Gazebo/Blue</material>
        <sensor name="laser" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10.0</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>0.00</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                    <!-- <min>0.120</min>
                    <max>3.5</max> -->
                    <resolution>0.015</resolution>
                </range>
            </ray>
            <plugin filename="libgazebo_ros_ray_sensor.so" name="gazebo_lidar">
                <ros>
                    <remapping>~/out:=scan</remapping>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>lidar_link</frame_name>
            </plugin>
        </sensor>
    </gazebo>
</robot>

<!-- <sensor name="laser" type="ray">
    <pose> 0 0 0 0 0 0 </pose>
    <visualize>true</visualize>
    <update_rate>10</update_rate>
    <ray>
        <scan>
            <horizontal>
                <samples>360</samples>
                <min_angle>-3.14</min_angle>
                <max_angle>3.14</max_angle>
            </horizontal>
        </scan>
        <range>
            <min>0.3</min>
            <max>12</max>
        </range>
    </ray>
    <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
        <ros>
            <remapping>~/out:=/scan</remapping>                                                               
        </ros>
        <output_type>sensor_msgs/LaserScan</output_type>
        <frame_name>laser_frame</frame_name>
    </plugin>
</sensor> -->
